/.idea/
*.iml
*.iws
*.ipr
out/
target/
!.mvn/wrapper/maven-wrapper.properties
**/node_modules/
**/dist/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
logs/
*.log
.DS_Store
Thumbs.db
.gradle/
build/
!gradle-wrapper.jar
.gitignore
